/*
Include the standard variables from Mailspring's base theme:
https://github.com/Foundry376/Mailspring/blob/master/app/static/style/base/ui-variables.less
*/
@import "base/ui-variables";

// Red
@accent-primary: #859900;
// Orange
@accent-primary-dark: #eee8d5;

// Base03
@background-primary: #002b36;
// Base02
@background-off-primary: #073642;
// Base03
@background-secondary: #002b36;
// Base03
@background-tertiary: #002b36;

// Base00
@border-color-primary: #657b83;
// Base00
@border-color-tertiary: #657b83;
// Base01
@border-color-secondary: #586e75;
// Base01
@border-color-divider: #586e75;

// Base0
@text-color: #839496;
@text-color-subtle: #93a1a1;
@text-color-very-subtle: #93a1a1;
// Base2
@text-color-inverse: #eee8d5;
// Base3
@text-color-inverse-subtle: #fdf6e3;
// Base3
@text-color-inverse-very-subtle: #fdf6e3;
// Yellow
@text-color-heading: #b58900;

@text-color-link: @accent-primary;
@text-color-link-hover: @accent-primary-dark;
@text-color-link-active: @accent-primary-dark;

// Violet
@btn-default-bg-color: #073642;
// Violet
@dropdown-default-bg-color: #6c71c4;

// Base02
@input-bg: #073642;
@input-border: @border-color-divider;

// Base03
@list-bg: #002b36;
@list-border: #002b36;
@list-selected-color: @text-color-inverse;
@list-focused-color: @text-color;

// Base03
@toolbar-background-color: #002b36;
// Base02
@panel-background-color: #073642;
