/*
Include the standard variables from Mailspring's base theme:
https://github.com/Foundry376/Mailspring/blob/master/app/static/style/base/ui-variables.less
*/
@import "base/ui-variables";

@gray-darker: #073642;
@gray-base: #073642;
@white: #002b36;

